name: Build

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - 4.12.0
        cache:
          - true


    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup CUDA
        uses: cuda-actions/setup-cuda@v1
        with:
          cuda_version: '11.8.0'

      - name: Install OpenCL and system deps
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y ocl-icd-opencl-dev intel-opencl-icd opam

      - name: Opam Cache
        uses: actions/cache@v3
        with:
          path: ~/.opam
          key: ${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('*.opam') }}-build

      - name: Install opam packages
        run: |
          export OPAMYES=true
          opam init --compiler=${{ matrix.ocaml-compiler }} --disable-sandboxing --bare
          eval $(opam env)
          opam install . --deps-only --with-test

      - name: Build SPOC
        run: eval $(opam env) && dune build
