name: Test

on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - 4.12.0
        cache:
          - true


    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Use newer version

      - name: Install intel opencl
        run: sudo ./.travis/install_intel_opencl.sh

      # Install nvidia-cuda-dev which should provide necessary NVRTC and other libs
      - name: Install deps
        run: sudo apt-get update && sudo apt-get install --no-install-recommends nvidia-cuda-dev opam xvfb

      - name: Opam Cache
        uses: actions/cache@v4 # Use newer version
        with:
          path: ~/.opam
          # Fix typo: ocaml-version -> ocaml-compiler
          key: ${{ matrix.os }}-${{ matrix.ocaml-compiler }}-${{ hashFiles('*.opam') }}-build
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.ocaml-compiler }}-

      - name: Initialize Opam
        run: |
          export OPAMYES=1
          opam init --compiler=${{ matrix.ocaml-compiler }} --disable-sandboxing
          eval $(opam env)

      - name: Install opam packages
        run: |
          eval $(opam env)
          opam install graphics camlp4 ctypes ctypes-foreign cppo dune ppx_tools ppxlib

      - name: Build SPOC
        # Remove explicit CUDA_PATH, let dune try to find it
        run: eval $(opam env) && dune build

      - name: Spoc tests
        run: eval $(opam env) && /usr/bin/xvfb-run --auto-servernum make test

      - name: Sarek tests
        run: eval $(opam env) && /usr/bin/xvfb-run --auto-servernum make test_sarek
